html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inconsolata', monospace;
  overflow: hidden;
  background: white;
}

.camera {
  position: absolute;
  top: 0;
  left: 0;
  filter: grayscale(100%) contrast(100%) opacity(30%);
  transition: all 1000ms;
}